<!doctype html>
<html>

<head>
  <link rel="stylesheet" href="/css/404.css">
  <title> invalid page </title>
</head>

<body>
  <h1>This page  is not avaliable, please contact your provider!!!</h1>
  <p>This is 404 pag .<br /><a href='/'>Go back to home</a></p>
</body>

</html>